page-mode-manual {
  .range-bar-cont {
    position: relative;

    .enable-btn {
      z-index: 999;
      margin: auto;
      position: absolute;
      top: 50%; left: 50%;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
    }
  }
    p.tips {
        margin: 0 auto;
        text-align: center;
    }
    ion-label.label {
        white-space: pre;
    }
    ion-range.range-md{
        padding: 4px;
    }
    .list.manual{
        button{
            margin-top: 1.5rem;
        }
    }






}
