page-mode-manual {
    ion-range.range-md{
        padding: 4px;
    }
    .list.manual{
        button{
            margin-top: 1.5rem; 
        }
    }
    /*.collections-col.col:nth-of-type(1)>.checkbox>.checkbox-icon.checkbox-checked>.checkbox-inner:before{
        content: "A";
    }*/
    




}
