page-mode-manual {
    .list.manual{
        button{
            margin-top: 1.5rem; 
        }
    }
    /*.collections-col.col:nth-of-type(1)>.checkbox>.checkbox-icon.checkbox-checked>.checkbox-inner:before{
        content: "A";
    }*/
    
    .checkbox{
        button>.button-inner{
            font-size: 2.5rem;
            color: gray;
        }
        button[aria-checked="true"]>.button-inner{
            color: white;
        }
    }
    .checkbox-icon.checkbox-checked{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        .checkbox-inner {
            border: none;
            /*left: 11px;
            top: 3px;*/
            transform: initial;
        }
    }
    .checkbox-ios .checkbox-icon{
        width: 40px;
        height: 40px;
    }
    .collections {
        .col>p{
            margin: 5px auto;
        }
        .collections-col{
            padding: 0;
        }
    }

}
