page-sync {
    .item .label p{
        font-size: 1.3rem;
    }
    .badge.badge-nongroup{
        background-color: #e13838;
    }
    .badge.badge-async{
        background-color: #ddc900;
    }
    
}
