<!--
  Generated template for the CollectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.

  *ngFor="let dName of (item.devices|devicesString)|async"
-->
<ion-header>

  <ion-navbar>
    <ion-title>Groups</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <button text-wrap ion-item *ngFor="let item of collectionsList|async" (click)="edit(item.cid)">
          <h2>{{ item.name }}</h2>
          <p class="multi-badge-cont" text-wrap>
            <ion-badge class="collection-badge" item-end color="light" *ngFor="let dName of (item.devices|devicesString)|async">
              {{ dName }}
            </ion-badge>
          </p>
        </button>

    </ion-list>
</ion-content>
