page-dev-mode {
    .dev-btns-cont{
        .col>p{
            margin-top: 2px;
        }
    }
    
    .cont-lines ion-col{

    }
    
}
.cont-lines hr{
    width:100%;
    height: 1.3px;
}
.devModeSetting{
    .alert-wrapper{
        width: 400px;
        max-width: 90%!important;
    }
}
