<ion-header>
  <ion-navbar>


    <ion-title>
      排程組合 - 群組#1
    </ion-title>
    <ion-buttons end>

      <button ion-button (click)="refreshScan()">
            <ion-icon  name="refresh-circle-outline"></ion-icon>
          </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content id="schedule-nav-main" class="outer-content">
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addPattern()"><ion-icon name="add"></ion-icon></button>

  </ion-fab>
  <ion-list inset no-lines>
    <ion-list-header>
      最後同步的「排程組合」
      <ion-note item-end>2 days ago sended</ion-note>
    </ion-list-header>
    <ion-item>
      <ion-icon name="bulb" item-start color="primary"></ion-icon>

      <h2>排程1</h2>
      <p>2017/09/03 最後編輯</p>
      <button ion-button outline item-end><ion-icon name="ios-open-outline"></ion-icon></button>
      <!-- <ion-note class="note-time" item-end>2 days ago sended</ion-note> -->
    </ion-item>



    <ion-list-header>
      所有的「排程組合」
    </ion-list-header>
    <ion-item *ngFor="let item of (patternsStore.list_o |async); let idx =index">
        <ion-icon item-start name="sunny"></ion-icon>
        <h2>{{item.p_name}}</h2>
        <p *ngIf="item.lastModified>1000" >{{item.lastModified | date:'yyyy/MM/dd HH:mm'}} 最後編輯</p>
        <button ion-button outline item-end (click)="goNavModes(item.gid,idx)"><ion-icon name="ios-open-outline"></ion-icon></button>
    </ion-item>

  </ion-list>
  <br><br><br><br><br><br>
</ion-content>
