<ion-header>
  <ion-navbar>


    <ion-title>
      編輯排程
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="openBleModal()">
        <ion-icon name="bluetooth" ></ion-icon>
      </button>
      <button ion-button (click)="isShowDelBtn()">
            <ion-icon  name="ios-remove-circle-outline"></ion-icon>
          </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>>
<ion-content id="schedule-nav-sctions">
  <ion-fab bottom right>
    <button ion-fab color="light" mini (click)="addSection()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  
  <ion-list inset>
    <ion-item (click)="editName()">
      <ion-icon name="bookmark" item-start color="primary"></ion-icon>
      <ion-label>{{infos.pattern.p_name}}</ion-label>
      <button ion-button outline item-end>編輯名稱</button>
    </ion-item>
    
    <ion-list-header >
      <ion-row text-center>
        <ion-col col-5>
          <ion-icon name="sunny"></ion-icon>
          模式</ion-col>
        <ion-col col-4>
          <ion-icon name="time"></ion-icon>
          起始時間</ion-col>
        <ion-col col-3>
          <ion-icon name="bonfire"></ion-icon>
          亮度</ion-col>
      </ion-row>
      <ion-icon item-end></ion-icon>
    </ion-list-header>
    <ion-item *ngFor="let item of sections;let idx =index">
      <ion-row text-center>
          <ion-col col-5>
          {{item.mode | light:'name'}}</ion-col>
        <ion-col col-4><span>{{item.time}}</span></ion-col>
        <ion-col col-3><span>{{item.multiple}}%</span></ion-col>

      </ion-row>
      <button *ngIf="isShowDel" (click)="delSection(idx)" ion-button class="btn-remove" clear icon-only color="dark" item-end><ion-icon name="trash"></ion-icon></button>
    </ion-item>

      <button ion-button block color="primary" (click)="saveSections()">儲存</button>
      <button ion-button block color="secondary" (click)="sendSections()">傳送</button>
  </ion-list>
</ion-content>
<ion-footer>

</ion-footer>
