<!--
  Generated template for the ModeSchedulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>燈光排程</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-bg outer-content">
  <ion-fab top right edge>
    <button ion-fab color="vibrant" mini (click)="addSchedule()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <!-- CARD START ngFor-->
  <ng-container *ngFor="let item of scheduleList|async;let idx = index">
  <ion-card>
      <!-- ROW_1-->
      <ion-item>
        <ion-avatar item-start>
          <ion-icon name="quote"></ion-icon>
          <!-- R<span class="gidTitle">#1</span>-->
        </ion-avatar>
        <h2>{{item.name}} ({{getDateRangeTitle(item.dateRange)}})</h2>
        <p>last modeified: {{item.lastModified | date: 'dd/MM/yyyy H:mm'}}</p>
        <button (click)="rmSchedule(idx)" clear ion-button outline item-end><ion-icon name="close"></ion-icon></button>
      </ion-item>
      <!-- ROW_2 -->
      <div class="lightsChart-cont">
        <canvas height="110px" baseChart [chartType]="'bar'" [datasets]="item.chartDatas.datasets" [labels]="chartLabels" [options]="chartOptions"
          [legend]="false" [colors]="item.chartDatas.colors" (chartClick)="onChartClick($event)">
        </canvas>
      </div>
      <!-- ROW_3
      <ion-card-content>
        <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?!
          Whoa. This is heavy.</p>
      </ion-card-content>-->
      <!-- ROW_4 -->
      <ion-row>
        <ion-col col-9>
            <ion-badge *ngFor="let c of item.checks;let ci=index" item-end [color]="(c)?'primary':'light'">#{{(ci+1) | collection_name}}</ion-badge>
        </ion-col>
        <ion-col col-3 align-self-center text-center>
          <!-- <ion-note>
              11h ago sended
            </ion-note >-->
        </ion-col>
      </ion-row>
      <div style="position: relative">
  
        <ion-fab right bottom>
          <button ion-fab mini class="fab-map" color="light" (click)="goSchedule(idx)">
              <ion-icon name="arrow-forward"></ion-icon>            
            </button>
        </ion-fab>
      </div>
      <!-- -->
      <!-- END ROWS -->
    
    </ion-card>
    <!-- CARD END-->
  </ng-container>



</ion-content>
<ion-footer>
    <ion-toolbar>
        <button (click)="syncSchedule()" ion-button full [color]="this.btnSetting.color">{{ this.btnSetting.message }}</button>
        
    </ion-toolbar>
  </ion-footer>