<!--
  Generated template for the ModeDevicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button menuToggle clear outline ion-button icon-only color="royal">
        <ion-icon name="search"></ion-icon>
    </button>

    <ion-title>裝置設定</ion-title>
   <!-- <ion-buttons end>
      <button ion-button icon-only color="primary" (click)="openSyncPage()">
        <ion-icon name="pricetags" ></ion-icon>
      </button>
      <button ion-button icon-only color="royal" (click)="openBleModal()">
        <ion-icon name="bluetooth" ></ion-icon>
      </button> </ion-buttons>-->
  </ion-navbar>

</ion-header>


<ion-content class="outer-content">
    <ion-fab top right edge>
      <button (click)="openBleModal()" 
        ion-fab color="vibrant" mini><ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
  <ion-list>
    <ion-list-header>
        已加入的裝置
      </ion-list-header>
      <ion-item *ngFor="let item of devices_list|async;let idx =index;">
        <ion-icon item-start name="sunny"></ion-icon>
        <h2>{{item.name || item.o_name || "無名稱"}} - {{ item.group || "錯誤"}}</h2>
        <p>{{item.id}}</p>
        <ion-badge item-end>#{{ (item.collection | collection_name )}}</ion-badge>
        <button (click)="editDevice(item.id)" ion-button outline item-end><ion-icon ios="ios-settings" md="md-settings"></ion-icon></button>
      </ion-item>
      <ion-item *ngFor="let item of wtfDevices.list;let idx =index;">
        <ion-icon item-start name="sunny"></ion-icon>
        <h2>{{item.name || item.o_name || "無名稱"}}</h2>
        <p>{{item.id}}</p>
        <ion-badge item-end>#{{ (item.collection | collection_name )}}</ion-badge>
        <button (click)="editDevice(item.id)" ion-button outline item-end><ion-icon ios="ios-settings" md="md-settings"></ion-icon></button>
      </ion-item>
    </ion-list>

</ion-content>
